{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		@font-face{
			font-family: raleway;
			src: url({% static 'blog/fonts/raleway.ttf' %});
		}
		@font-face{
			font-family: ralewaymedium;
			src: url({% static 'blog/fonts/ralewaymedium.ttf' %});
		}
		@font-face{
			font-family: lekton;
			src: url({% static 'blog/fonts/lekton.ttf' %});
		}
	</style>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Code Hub</title>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/prism.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/theme.css' %}">
	<script type="text/javascript" src="{% static 'blog/js/prism.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/js/script.js' %}"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'blog/images/icon.png' %}">
</head>
<body>
	<main>

		<!--------------------------- header -->
		<div id="navigation">
			<div>
				<div id="dropdownmenu">
					<img src="{% static 'blog/images/menu.png' %}" alt="Menu" id="menuimg" onclick="showMenu()">
					<div id="menuitems" class="menucontent">
						<a href="{% url 'home' %}#home" id="homepagemenu" class="activepage">HOME</a>
						<a href="{% url 'home' %}#about" id="aboutpagemenu" class="">ABOUT</a>
						<a href="{% url 'home' %}#projects" id="projectspagemenu" class="">PROJECT</a>
						<a href="{% url 'home' %}#codinglog" id="codinglogpagemenu" class="">CODING LOG</a>
						<a href="{% url 'home' %}#blog" id="blogpagemenu" class="">POST</a>
						<a href="{% url 'home' %}#contact" id="contactpagemenu" class="">CONTACT</a>
					 </div>
				</div>
				<div id="menu">
					<a href="{% url 'home' %}#home" id="homepage" class="activepage">HOME</a>
					<a href="{% url 'home' %}#about" id="aboutpage" class="">ABOUT</a>
					<a href="{% url 'home' %}#projects" id="projectspage" class="">PROJECT</a>
					<a href="{% url 'home' %}#codinglog" id="codinglogpage" class="">CODING LOG</a>
					<a href="{% url 'home' %}#blog" id="blogpage" class="">POST</a>
					<a href="{% url 'home' %}#contact" id="contactpage" class="">CONTACT</a>
				</div>
			</div>
			<div id="navlogo">
				<a href="{% url 'home' %}#home"><img src="{% static 'blog/images/logo.png' %}" alt="Logo" id="navimg"></a>
			</div>
		</div>

		<!--------------------------- post section -->
		{% block subject %}
			<section id="postdetail">
				<div id="postdetailtitle">
					<p>{{ subject.title }}</p>
				</div>
				<div class="postdetailpubinfo">
					<span>
						<img src="{% static 'blog/images/author.png' %}" alt="Author" width="15rem">
						<p>{{ subject.author.user.first_name }} {{ subject.author.user.last_name }}</p>
					</span>
					<span>
						<img src="{% static 'blog/images/calendar.png' %}" alt="Calendar" width="15rem">
						<p>{{ subject.dateposted|date:"m d, Y g:s A" }}</p>
					</span>
					<span>
						<img src="{% static 'blog/images/feedback.png' %}" alt="Feedback" width="15rem">
						<p>{{ approvedcounts }} feedback{{ approvedcounts|pluralize }}</p>
					</span>
					<span>
						<img src="{% static 'blog/images/view.png' %}" alt="View" width="17rem">
						{% if category == 1 %}
							{% for view in views %}
								{% if view.project.id == subject.id %}
									{% if view.view > 1 %}
										<p>{{ view.view }} views</p>
									{% else%}
										<p>{{ view.view }} view</p>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% else %}
							{% for view in views %}
								{% if view.post.id == subject.id %}
									{% if view.view > 1 %}
										<p>{{ view.view }} views</p>
									{% else%}
										<p>{{ view.view }} view</p>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</span>
				</div>
				<div id="postdetailcontents">
					<div id="postdetailbody">
						<div id="postdetailcontent">
							<p>{{ subject.shortcontent }}</p>
							<p>{{ subject.longcontent|safe }}</p>
						</div>
						<br><br>
						<form method="post" class="addfeedback">
							{% csrf_token %}
							{{ feedbackform.as_p }}
							<input type="submit" value="Submit Feedback" class="submitfeedback">
						</form>
						<div id="feedback">
							<span>{{ approvedcounts }} Feedback{{ approvedcounts|pluralize }}</span>
							{% for feedback in feedbacks %}
								{% if feedback.approved == True %}
									<blockquote class="blockquote">
	  									<p class="feedbacktext">{{ feedback.text }}</p>
	  									<footer>
	  										<p class="feedbackauthor"><cite>- {{ feedback.guest|capfirst }} on {{ feedback.datecreated|date:"F d, Y g:s A" }}</cite></p>
	  									</footer>
									</blockquote>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div id="postdetaillist">
						{% if category == 1%}
							<p>All Projects</p>
							{% for content in allcontents %}
								<a href="{% url 'project' category=category pk=content.pk slug=subject.slug %}"><span>{{ content.title }}</span></a>
							{% endfor %}
						{% else %}
							<p>All Posts</p>
							{% for content in allcontents %}
								<a href="{% url 'post' category=category pk=content.pk slug=subject.slug %}"><span>{{ content.title }}</span></a>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</section>
		{% endblock subject %}

		<!--------------------------- about section -->
		<section id="aboutpostdetail">
			<div class="pagetitle"><p></p></div>
			<div id="aboutmore">
				{% block profile %}
					{% for profile in profiles %}
						{% if profile.user.username == "jadedanial" %}
							<div id="aboutprofile">
								<img src="{% static 'blog/media/user/' %}{{ profile.imagename }}" alt="{{ profile.user.first_name }}" id="profileimgpostdetail">
							</div>
							<div id="abouttext">
								<p>{{ profile.user.first_name }} {{ profile.user.last_name }} {{ profile.bio|safe }}</p>
							</div>
						{% endif %}
					{% endfor %}
				{% endblock profile %}
			</div>
		</section>
		
		<!--------------------------- contact section -->
		<section id="contact">
			<div class="pagetitle"><p>Get In Touch With Me</p></div>
			<div id="contactcontent">
				<div id="contactlist">
					{% block social %}
						{% for profile in profiles %}
							{% if profile.user.username == "jadedanial" %}
								{% for social in profile.social.all %}
									<div class="socials">
										<a href="{{ social.link }}" target="_blank">
											<img src="{% static 'blog/media/social/' %}{{ social.imagename }}" alt="{{ social.name }}" class="socialimg">
										</a>
										<p>{{ social.name }}</p>
									</div>
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endblock social %}
				</div>
				<div id="footer">
					<p>Code Hub Blog © {% now 'Y' %} Theme by Jade Danial</p>
				</div>
			</div>
		</section>

	</main>
	<script>

		window.onclick = function(event){

			if(!event.target.matches("#menuimg")){

				var dropdowns = document.getElementsByClassName("menucontent");
				var i;

				for(i = 0; i < dropdowns.length; i++){

					var openDropdown = dropdowns[i];

					if(openDropdown.classList.contains("showmenu")){

						openDropdown.classList.remove("showmenu");

					}

				}

			}
			
		}

	</script>
</body>
</html>